* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

#my_Canvas { display:block; } /* To remove the scrollbars */

@font-face {
  font-family: mainfont;
  src: url(fonts/kghappy.ttf);
}

/*body {
	background-repeat: no-repeat;
}

@media (min-width: 800px) {
    body {
        background-image: url("img/android-test.png");
    }
}

@media (min-width: 1100px) {
    body {
        background-image: url("img/test.png");
    }
}

@media (min-width: 1800px) {
    body {
		background-image: url("img/temp.png");
	}
}*/

/*h1 {
	position: absolute;
  	left: 40%;
  	margin-left: -40px;
  	top: 30%;
  	margin-top: -30px;
  	font-size: 48pt;
  	font-weight: normal;
}

h2 {
	font-weight: normal;
	font-size: 12pt;
}*/

* {
	font-family: mainfont;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.container {
	/*text-align: center;
	margin-top: 100pt;*/
	top: 35%;
	position: absolute;
	left: 50%;
  	margin-left: -250px;
}

.top-container {
	font-size: 42pt;
}

.bottom-center-container {
	text-align: center;
}

.bottom-container {
	display: inline-block;
}

.sub-bottom-container {
	float: left;
	font-size: 16pt;
	margin: 5pt;
	display: inline-block;
	transition: all 5000ms ease;
	height: 37px;
}

a {
    color: black; text-decoration: none;
}

.parent {
  min-height: 200px;
  min-width: 200px;
}

.parent span {
  /* Set all text to the bottom*/
  vertical-align: text-bottom;
}

.child {
  display: block;
}

.parent:hover .hvr-underline-from-left {
  display: inline-block;
}


/* Underline From Left */

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  height: 4px;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 1px;
  background: #000000;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 2pt;
}

.parent:hover .hvr-underline-from-left:before,
.parent:focus .hvr-underline-from-left:before,
.parent:active .hvr-underline-from-left:before {
  right: 0;
}