@font-face {
  font-family: mainfont;
  src: url(fonts/cocogoose.ttf);
}

body {
	background-repeat: no-repeat;
}

@media (min-width: 800px) {
    body {
        background-image: url("img/test-android.png");
    }
}

@media (min-width: 1100px) {
    body {
        background-image: url("img/test.png");
    }
}

@media (min-width: 1800px) {
    body {
		background-image: url("img/temp.png");
	}
}

* {
	font-family: mainfont;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#lefth33 {
	color: green;
}

#lefth3 {
	color: red;
}

#righth3 {
	color: blue;
	text-align: right;
}