@font-face {
  font-family: mainfont;
  src: url(fonts/cocogoose.ttf);
}

* {
	font-family: mainfont;
}

#lefth33 {
	color: green;
}

#lefth3 {
	color: red;
}

#righth3 {
	color: blue;
	text-align: right;
}